body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.red {
  color: red;
}

header {
  background: #b30000;
  color: #fff;
  padding: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
}

.nav a.active {
  font-weight: bold;
  text-decoration: underline
